<!-- CSS Code -->
<style>
    * {
    }
    .empty {
        width: 50px;
        height: 50px;
        display: inline-block;
    }
    .squareShape {
        width: 50px;
        height: 50px;
        background-color: blue;
        outline: 2px solid black;
        background-image: url('tetris-piece.png');
        display: inline-block;
    }
    #grid {
        background-image: url('background.png');
        background-repeat: no-repeat;
    }
</style>


<!-- HTML Code -->
<div id='grid'>
</div>


<!-- JavaScript Code: -->
<script>
    var grid = [
        [0,0,0,1,1,0,0,0],
        [0,0,0,1,1,0,0,0],
        [0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0],
    ];
    function drawgrid() {
        document.getElementById('grid').innerHTML = "";
        for(var y=0; y<grid.length; y++) {
            for(var x=0; x<grid[y].length; x++) {
                if(grid[y][x]=== 0){
                    document.getElementById('grid').innerHTML += "<div class='empty'></div>";
                } else if(grid[y][x]=== 1 || grid[y][x]=== 11){
                    document.getElementById('grid').innerHTML += "<div class='squareShape'></div>";
                }
            }
            document.getElementById('grid').innerHTML += "<br>";
        }
    }
    function moveShapesDown() {
        canMove = true;
        for(var y=grid.length-1; y>=0; y--) {
            for(var x=0; x<grid[y].length; x++) {
                if(grid[y][x] > 0 && grid[y][x] < 10 ){
                    if(y+1 === grid.length || grid[y+1][x] > 10){
                        canMove = false;
                        freeze();
                    }
                }
            }
        }
        if (canMove) {
            for(var y=grid.length-1; y>=0; y--) {
                for(var x=0; x<grid[y].length; x++) {
                    if(grid[y][x] > 0 && grid[y][x] < 10 ){
                        grid[y+1][x] = grid[y][x];
                        grid[y][x] = 0;
                    }
                }
            }
            drawgrid();
        }
        checkLines();
    }
    function moveShapesLeft() {
        canMove = true;
        for(var y=grid.length-1; y>=0; y--) {
            for(var x=0; x<grid[y].length; x++) {
                if(grid[y][x] > 0 && grid[y][x] < 10 ){
                    if(x === 0 || grid[y][x-1] > 10){
                        canMove = false;
                    }
                }
            }
        }
        if (canMove) {
            for(var y=grid.length-1; y>=0; y--) {
                for(var x=0; x<grid[y].length; x++) {
                    if(grid[y][x] > 0 && grid[y][x] < 10 ){
                        grid[y][x-1] = grid[y][x];
                        grid[y][x] = 0;
                    }
                }
            }
            drawgrid();
        }
    }
    function moveShapesRight() {
        canMove = true;
        for(var y=grid.length-1; y>=0; y--) {
            for(var x=0; x<grid[y].length; x++) {
                if(grid[y][x] > 0 && grid[y][x] < 10 ){
                    if(x === 7 || grid[y][x+1] > 10){
                        canMove = false;
                    }
                }
            }
        }
        if (canMove) {
            for(var y=grid.length-1; y>=0; y--) {
                for(var x=grid[y].length; x>=0; x--) {
                    if(grid[y][x] > 0 && grid[y][x] < 10 ){
                        grid[y][x+1] = grid[y][x];
                        grid[y][x] = 0;
                    }
                }
            }
            drawgrid();
        }
    }

    function freeze(){
        for(var y=grid.length-1; y>=0; y--) {
            for(var x=0; x<grid[y].length; x++) {
                if(grid[y][x] > 0 && grid[y][x] < 10 ){
                    grid[y][x] = grid[y][x] + 10;
                }
            }
        }
        checkLines();

        var ran = Math.floor(Math.random()*6);
        if(ran === 0){
            grid[0] = [1,1];
            grid[1] = [1,1];
        } else if (ran === 1){
            grid[0] = [1];
            grid[1] = [1];
            grid[2] = [1];
            grid[3] = [1];
        } else if (ran === 2){
            grid[0] = [0,1,1];
            grid[1] = [1,1,0];
        } else if (ran === 3){
            grid[0] = [1,1,0];
            grid[1] = [,0,1,1,];
        } else if (ran === 4){
            grid[0] = [0,1,0];
            grid[1] = [1,1,1];
        } else if (ran === 4){
            grid[0] = [0,0,0,1,0,0,0,0];
            grid[1] = [0,0,0,1,0,0,0,0];
            grid[2] = [0,0,1,1,0,0,0,0];
        } else if (ran === 5){
            grid[0] = [0,0,0,1,0,0,0,0];
            grid[1] = [0,0,0,1,0,0,0,0];
            grid[2] = [0,0,0,1,1,0,0,0];
        }

}

function rotateCounterClockwise(grid){
        var n=grid.length;
        for (var x=0; x<n/2; x++) {
            for (var y=i; y<n-x-1; y++) {
                var tmp=a[x][y];
                grid[x][y]=grid[y][n-x-1];
                grid[y][n-x-1]=grid[n-x-1][n-y-1];
                grid[n-x-1][n-y-1]=grid[n-y-1][x];
                grid[n-y-1][x]=tmp;
            }
        }
        return grid;
    }

    function rotateClockwise(grid) {
        var n=grid.length;
        for (var x=0; x<n/2; x++) {
            for (var y=i; y<n-y-1; y++) {
                var tmp=a[x][y];
                a[x][y]=a[n-y-1][x];
                a[n-y-1][x]=a[n-x-1][n-y-1];
                a[n-x-1][n-y-1]=a[y][n-x-1];
                a[y][n-x-1]=tmp;
            }
        }
        return grid;
    }
    
    function checkLines(){
        for(var y=grid.length-1; y>=0; y--) {
            fullLine = true;
            for(var x=0; x<grid[y].length; x++) {
                if(grid[y][x] < 10) {
                    fullLine = false;
                }
            }
            if (fullLine) {
                grid.splice(y, 1);
                grid.splice(0, 0, [0,0,0,0,0,0,0,0])
                y++;
            }
        }
    }
    document.onkeydown = function(e) {
        console.log(e)
        if (e.keyCode === 37){
            moveShapesLeft(); 
        } else if (e.keyCode === 39){
            moveShapesRight();
        } else if (e.keyCode === 40){
            moveShapesDown();
        }
    }
    function gameLoop(){
        moveShapesDown();
        drawgrid();
        setTimeout(gameLoop, 1000);
    }
    drawgrid();
    gameLoop();
    
</script>